*,
*:before,
*:after{
  box-sizing: border-box;
}

body{
  background: $black;
  font-family: 'Arimo', sans-serif;
  color: $white;
}

body::-webkit-scrollbar {
    display: none;
}

a{
  text-decoration: none;
}
