//Need to move icons to their own component modules...

.wrapper{
  width: 80%;
  margin: 0 auto;
  text-align: center;
  i{
    font-size: 25px;
    transition: all 300ms;
    &:hover{
      cursor: pointer;
      color: $lavender;
    }
  }
  .fa-plus{
    font-size: 15px;
  }
}

.fa-chevron-up{
  display: none;
}
