//dot dimensions

$height: 0.5em;
$width: 0.5em;

$dot-position-height: 80px;
$circle1-pos: 5em;
$circle2-pos: 5.75em;
$circle3-pos: 6.5em;


// colors

$white: #f4f4f4;
$grey: #696969;
$black: #212121;

$maroon: #b0284c;
$lavender: #8f48a8;
$blue: #4187b4;

//font sizing
$ex-sm-font: 0.75em;
$sm-font: 0.85em;
$reg-font: 1em;
$med-lg-font: 1.5em;
$lg-font: 2em;
