.button{
  border: none;
  padding: 10px;
  letter-spacing: 1px;
}

.button-lg{
  border: none;
  padding: 20px;
  letter-spacing: 1px;
  font-size: 1.2em;
  font-size: $med-lg-font;
  font-family: 'Lobster Two', cursive;
}

.maroon-button{
  @extend %button;
  &:hover{
    letter-spacing: 2px;
    background: $maroon;
    color: $white;
  }
}

.lavender-button{
  @extend %button;
  &:hover{
    letter-spacing: 2px;
    background: $lavender;
    color: $white;
  }
}

.blue-button{
  @extend %button;
  &:hover{
    letter-spacing: 2px;
    background: $blue;
    color: $white;
  }
}

.sign-in-button{
  @extend %login-sizing;
  width: 25%;
  background: rgba($blue, 0.5);
  transition: all 300ms;
  &:hover{
    letter-spacing: 2px;
    background: rgba($blue, 0.7);
  }
}
