//Login Styles

.main-form{
  @include margin(2em null 2em null);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  .info-form{
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    align-items: center;
    margin-top: 0.5em;
  }
}
.maroon-field{
  @extend %login-sizing;
  background: rgba($maroon, 0.5);
  transition: all 300ms;
  &:focus{
    outline: none;
    background: rgba($maroon, 0.7);
  }
}
.lavender-field{
  @extend %login-sizing;
  background: rgba($lavender, 0.5);
  transition: all 300ms;
  &:focus{
    outline: none;
    background: rgba($lavender, 0.7);
  }
}
.blue-field{
  @extend %login-sizing;
  background: rgba($blue, 0.5);
  transition: all 300ms;
  &:focus{
    outline: none;
    background: rgba($blue, 0.7);
  }
}

//Add Restaurant/User Styles

.hidden-form{
  display: none;
  .info-form{
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    align-items: center;
    margin-top: 0.5em;
    label{
      letter-spacing: 1px;
      font-size: $reg-font;
      margin: 5px;
    }
    // input{
    //   @extend %form-sizing;
    //   width: 80%;
    //   background: rgba($lavender, 0.5);
    // }
    // button{
    //   @extend %form-sizing;
    //   width: 50%;
    //   background: rgba($maroon, 0.5);
    // }
  }
}

//Labels

.reg-label{
  font-size: $reg-font;
  margin: 0.5em;
}

.sm-label{
  font-size: $ex-sm-font;
}

//Dropdown Styles

.dropdown-field{
  background: rgba($maroon, 0.5);
  color: $white;
  font-size: $reg-font;
}

.inline-dropdown{
  display: flex;
  flex-flow: column wrap;
}
