%button{
  width: 60%;
  background: none;
  transition: all 300ms;
  color: $white;
  background: rgba($grey, 0.3);
  margin: 5px;
}

%login-sizing{
  border: none;
  width: 80%;
  padding: 10px;
  margin: 5px;
  color: $white;
  text-align: center;
  text-shadow: 1px 1px $black;
  letter-spacing: 1px;
}

%form-sizing{
  border: none;
  padding: 10px;
  margin: 5px;
  color: $white;
  text-shadow: 1px 1px $black;
  letter-spacing: 1px;
}
