.title{
  text-align: center;
  font-family: 'Lobster Two', cursive;
  font-size: 2em;
  margin: 10px;
}

.title-secondary{
  font-size: 1.5em;
  font-family: 'Lobster Two', cursive;
  margin-top: 1em;
}

.sub-title{
  font-size: 18px;
  font-weight: bold;
  margin: 10px;
}
