.title{
  text-align: center;
  font-family: 'Lobster Two', cursive;
  font-size: $lg-font;
  margin: 1.5em;
  text-shadow: 2px 2px $black;
}

.title-secondary{
  font-size: $med-lg-font;
  font-family: 'Lobster Two', cursive;
  margin: 1.5em;
}

.sub-title{
  font-size: $reg-font;
  font-weight: bold;
}
