<!DOCTYPE html>
<html>
  <head>
    <meta name="author" content="Chris Young">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link href='https://fonts.googleapis.com/css?family=Arimo:400,400italic,700,700italic|Lobster+Two:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css" media="screen" title="no title" charset="utf-8">
    <script type="text/javascript" src="js/jquery-1.12.1.js"></script>
    <script type="text/javascript" src="js/scripts.js"></script>
    <title>Q. (It's for Lines)</title>
  </head>
  <body>
    <div class="container">

      #parse( $template )

    </div>
  </body>
</html>
