index.vtl

<h1>Q.</h1>

<h3>It's for lines.</h3>

Login
<form class="login" action="/welcome" method="post">
  <div class="form-group">
    <label for="name">Username:</label>
    <input required type="text" name="username" id="name">
    <label for="name">Password:</label>
    <input required type="text" name="password" id="name">
  </div>
</form>
<p><a href='/new-user'>Create An Account</a></p>

Could display most recently updated lines?
Longest lines at the moment? Shortest lines?
