new-user.vtl

<h1>Sign up for Q.</h1>
<h3>Create an account:</h3>
<form action="/save-new-user" method="post">
  <label for="newUserName">Username:</label>
  <input id="newUserName" name="newUserName" type="text" required>
  <label for="newPassword">Password:</label>
  <input id="newPassword" name="newPassword" type="password" required>
  <button type="submit">Create Account</button>
</form>

<a href="/">Return Home</a>
