restaurants.vtl

<h1>Restaurant List</h1>
<h3>Click a restaurant to see recently reported line lengths.</h3>

#foreach ($restaurant in $restaurants)
  <li><a href="/restaurants/$restaurant.getId()">$restaurant.getRestaurantName()</a></li>
#end

<p><a href="/new-restaurant">Add a new restaurant.</a></p>
<p><a href='/'>Home</a></p>
