

#if($password.equals($currentUser.getPassword()))
<div class="wrapper">
  <h1 class="title">Success!</h1>
  <h3 class="title-secondary">Redirecting to account page.</h3>
  <meta http-equiv="refresh" content="0; url=/$currentUser.getId()/home" />
</div>
#end


#if(!$password.equals($currentUser.getPassword()))
<p>Invalid username/password combination. <a href="/">Try again.</a></p>
#end
